# Supabase
VITE_SUPABASE_URL=https://hagyqzswtxsbyebkgezi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhZ3lxenN3dHhzYnllYmtnZXppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4Mjg4NzksImV4cCI6MjA4OTQwNDg3OX0.VlGrDy3zIJlvucVUs9RpPKQkVtDTAhy1KZNN-Rxsa-4

# Gemini
GEMINI_API_KEY=
